@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
    --primary-color:#1abc9c;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px
}

hr {
    margin: 2rem 0rem;
}

.margin-md {
    margin: 2rem;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}


.home-button:hover{
    transform: translateY(-4px) translateX(2px);
    box-shadow: 0 10px 30px rgba(0, 0, 0,0.05);
}

.home-button{
    transition: all .2s;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    
}

.navigation .nav-brand {
    font-weight: 500;
    padding:  0 30px;
    
}

.nav-brand a {
    text-decoration: none;
    color: inherit;
    
}

.navigation .nav-pills {
   
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    
}

.nav-button:hover{
    transform: translateX(3px);
    box-shadow: 0 10px 30px rgba(0, 0, 0,0.15);
    border-radius: 10px;
}

.nav-button{
    transition: all .1s;
    box-shadow: 0 10px 30px rgba(0, 0, 0,0.00);
    text-transform: capitalize;
}


/** header **/

.hero {
    padding: 2rem;
    padding-top: 5rem;

}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--off-white);
}

/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}


.footer-btn:hover{
    transform: translateY(-5px);
    background-color: white;
}

.footer-btn:hover a{
    color: #1abc9c;
    transition: all .2s;
}

.footer-btn{
    transform: translateY(0px);
    transition: all .2s;
}

.showcase-list {
    padding: 2rem;
}

.showcase-blog {
    padding-bottom: 6rem;
}

